.footer {
    margin-top: 60px;
    background: black;
    color: white;
}

.footerContainer {
    max-width: 1200px;
    margin: auto;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
}

.footerContainer h2,
.footerContainer h3 {
    color: rgb(8, 255, 201);
    font-family: Arial, Helvetica, sans-serif;
}

.footerCcontainer p {
    color: #cfcfcf;
    font-size: 15px;
}
.duckImage{
    border-radius: 100px;
    border: 4px solid black;
    box-shadow: 0px 1px 38px -13px rgb(8, 255, 201);
}
.footerLinks a {
    color: white;
    text-decoration: none;
    transition: .2s;
}

.footerLinks a:hover {
    color: rgb(8, 255, 201);
}